.checkoutitems{
    display: flex;
    margin-top: 20;
    margin-bottom: 20;
}

.checkoutitems-image{
    width: 300px;
    height:300px ; 
   

}

.checkoutitems-info {
padding-left: 20px;
}

.checkoutitems-rating{
    display: flex;
}

.Checkoutitems-button{
    background: black ;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: white;
}
