.payement {
    background-color:white ;
}
.payement-container > h1{
    text-align:center;
    padding: 10px;
    font-weight:400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payement-part{
    margin: 0 19px ;
    display: flex;
    padding: 19px;
    border-bottom: 1px solid lightgray;


}

.payement-header{
    flex: 0.2;
}


.payement-container > h1 a {
    text-decoration: none;

}