.payment {
    background-color:white ;
}
.payment-container > h1{
    text-align:center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment-address, .payment-products, .payement-infos {
display: 0.8;
}

.payment-part{
    margin: 0 20px ;
    display: flex;
    padding: 21px;
    border-bottom: 2px solid lightgray;


}

.payment-header{
    flex: 0.2;
}


.payment-container > h1 a {
    text-decoration: none;

}


.button-buy{
    background: black ;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: white;
}